.main-chat__box
  .main-chat__box__info
    .main-chat__box__info__name
      = message.user.name
    .main-chat__box__info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main-chat__box__sentence
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?